body {
  margin: 0;
  padding: 0;
  background-color: 	#f9f48e;
}

.app {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #ff6666;
  text-align: center;
    border: solid blueviolet 1px;
    width: 100%;
    margin: 0;
    padding: 0;
    height:100%;
}


